<div class="hbox hbox-auto-xs hbox-auto-sm">
	<!-- main -->
	<div class="col">
		<!-- main header -->
		<div class="bg-light lter b-b wrapper-sm">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<em class="m-n font-thin h4 text-bold text-primary-dker">
						{{ surveygen.HeaderTitle }}
						<em editable-text="surveygen.TempName" e-style="width: 300px;"
						    onbeforesave="checkTempEmpty($data)">
							{{ surveygen.TempName || 'Empty' }}
						</em>&nbsp;and Preview.
					</em>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<a ui-sref="app.survey.dashboard" class="btn btn-primary pull-right">
						<i class="glyphicon glyphicon-arrow-left"></i> List
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- / right col -->
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm no-border">
	<div class="wrapper-md">
		<toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
		<div class="row">
			<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 max-width-600">
				<div class="panel panel-default" ng-if="!surveygen.saveComplete">
					<div class="panel-heading font-bold">
						Any
						<span class="editable-click text-primary">underlined</span>
						element below and button elements is editable to your liking.
						<div>
							Subject:
							<em editable-text="surveygen.TempName" e-style="width: 300px;"
							    onbeforesave="checkTempEmpty($data)">
								{{ surveygen.TempName || 'Empty' }}
							</em>
						</div>
					</div>
					<div class="panel-body text-center">
						<section ng-if="surveygen.sectionId == 1">
							<temp-header data="surveygen" placeholder="MAIN HEADLINE CAN GO HERE"></temp-header>
							<br/>
							<div class="h4 margin-top-5">
								<em editable-textarea="surveygen.TempHeader1" e-rows="5" e-cols="40" e-style="font-size: 14px;"
								    e-placeholder="e.g. Tell us what you want to learn about?">
									{{ surveygen.TempHeader1 || 'Enter your headline here' }}
								</em>
							</div>
							<br/>
							<div class="margin-top-5" ng-repeat="tempButton in surveygen.TempButton">
								<a class="btn btn-info btn-link h4" style="min-width: 150px;" editable-text="tempButton.name"
								   e-style="font-size: 14px;" e-placeholder="e.g. {{tempButton.temp}}">
									{{ tempButton.name || tempButton.temp }}
								</a>
								<a ng-click="delBoxes($index)" class="btn btn-sm btn-danger va-middle">
									<i class="glyphicon glyphicon-trash"></i>
								</a>
							</div>
							<div class="margin-top-5">
								<button ng-click="addBoxes()" class="btn btn-success">
									<i class="icon icon-plus"></i> Add More Boxes
								</button>
							</div>
						</section>
						<section ng-if="surveygen.sectionId == 2">
							<temp-header data="surveygen" placeholder="Your Products, Services, Programs..."></temp-header>
							<br/>
							<div class="h4 margin-top-5">
								<em editable-textarea="surveygen.TempHeader1" e-rows="5" e-cols="40" e-style="font-size: 14px;"
								    e-placeholder="e.g. How Would You Rate Us?">
									{{ surveygen.TempHeader1 || 'Your Questions?' }}
								</em>
							</div>
							<br/>
							<div class="margin-top-5">
								<div class="inline" ng-repeat="rateTemp in surveygen.TempRate">
									<i class="btn btn-lg fa {{'fa-' + surveygen.RateType + '-o'}} rate-icon"></i>
								</div>
							</div>
							<br/>
							<div class="margin-top-5">
								<div class="no-select inline-block">
									<button type="button" class="btn btn-sm btn-danger va-middle"
									        ng-disabled="surveygen.TempRate.length <= surveygen.RateMin" ng-click="removeRate()">
										<i class="fa fa-minus"></i>
									</button>
									<div class="inline-block va-middle">
										<div class="text-bold">{{ surveygen.TempRate.length + ' ' + surveygen.RateType }} scale</div>
										<div style="font-size: 0.7em;">{{ '(min ' + surveygen.RateMin + ', max ' + surveygen.RateMax + ')' }}</div>
									</div>
									<button type="button" class="btn btn-sm btn-primary va-middle"
									        ng-disabled="surveygen.TempRate.length >= surveygen.RateMax" ng-click="addRate()">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
							<br/>
							<div class="margin-top-5 row text-center">
								<div class="col-sm-6 padding-right-none">
									<label>1 {{ surveygen.RateType }}=</label>
									<em editable-text="surveygen.RateLabel.left" e-placeholder="e.g. Not at all likely">
										{{ surveygen.RateLabel.left || 'very unlikely' }}
									</em>
								</div>
								<div class="col-sm-6 padding-left-none">
									<label>{{ surveygen.TempRate.length + ' ' + surveygen.RateType }}=</label>
									<em editable-text="surveygen.RateLabel.right" e-placeholder="e.g. Extremely likely">
										{{ surveygen.RateLabel.right || 'very likely' }}
									</em>
								</div>
							</div>
							<div class="margin-top-5 row text-center">
								<label class="text-bold">Scale icon</label>
								<div class="form-group">
									<div class="radio radio-inline">
										<label ng-repeat="option in surveygen.RateOptions" class="margin-left-6 text-bold">
											<input type="radio" name="selectType" ng-model="surveygen.RateType" ng-value="option.type"/>
											<i class="fa {{'fa-' + option.type + '-o'}}"></i>
											{{ option.type }}
										</label>
									</div>
								</div>
							</div>
						</section>
						<section ng-if="surveygen.sectionId == 3">
							<temp-header data="surveygen" placeholder="Your Questions Here...(e.g. How was your experience?)"></temp-header>
							<br/>
							<div class="margin-top-5 row">
								<div class="col-sm-6 col-xs-6">
									<a class="btn btn-lg btn-rounded btn-success pull-right" editable-text="surveygen.answerButton[0].name"
									   e-placeholder="e.g. {{ surveygen.answerButton[0].temp }}">
										{{ surveygen.answerButton[0].name || 'e.g. GOOD' }}
									</a>
								</div>
								<div class="col-sm-6 col-xs-6">
									<a class="btn btn-lg btn-rounded btn-danger pull-left" editable-text="surveygen.answerButton[1].name"
									   e-placeholder="e.g. {{ surveygen.answerButton[1].temp }}">
										{{ surveygen.answerButton[1].name || 'e.g. BAD' }}
									</a>
								</div>
							</div>
						</section>
						<br/>
						<div class="margin-top-5">
							<a ui-sref="app.survey.select" class="btn btn-default pull-left">
								<i class="glyphicon glyphicon-arrow-left"></i> Templates
							</a>
							<button ng-click="previewSurvey()" class="btn btn-default pull-none">
								<i class="glyphicon glyphicon-eye-open"></i> Preview
							</button>
							<a ui-sref="app.survey.dashboard" ng-if="surveygen.SE_Type != 'NEW'" class="btn btn-default pull-none">
								<i class="glyphicon glyphicon-remove"></i> Cancel
							</a>
							<button ng-click="nextStep()" class="btn btn-default pull-right">
								Save <i class="glyphicon glyphicon-arrow-right"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default" ng-if="surveygen.saveComplete">
					<div class="panel-body text-center">
						<div class="h3 text-bold text-center">
							Your Survey is Ready!
						</div>
						<div class="h4 text-center margin-top-5">
							Embed Link For Email
						</div>
						<div class="margin-top-5">
							<textarea id="embedLink" ng-click="clickText()" class="form-control" style="width: 100%;resize: none;" rows="5"
							          ng-model="surveygen.embedLink"></textarea>
						</div>
						<br/>
						<div class="margin-top-5">
							<a ng-click="editSurvey()" class="btn btn-default pull-left">
								<i class="glyphicon glyphicon-arrow-left"></i> Edit Survey
							</a>
							<button ng-click="previewSurvey()" class="btn btn-default pull-none">
								<i class="glyphicon glyphicon-eye-open"></i> View Survey
							</button>
							<a ui-sref="app.survey.select" class="btn btn-default pull-right">
								Create Survey <i class="glyphicon glyphicon-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="add_image" class="popin container-fluid">
	<uploader-image data="surveygen"></uploader-image>
</div>
<div id="previewSurvey" class="popin container-fluid">
	<template-preview data="surveygen"></template-preview>
</div>
<div class="ajax_loading text-center" ng-if="surveygen.isLoading">
	<img src="img/loading.gif"/>
</div>