<div class="panel panel-default">
	<div class="panel-body text-center">
		<section ng-if="data.section_id == 1">
			<div class="text-bold h2">
				{{data.temp_header || 'Main Headline is Empty'}}
			</div>
			<div class="margin-top-5" ng-if="data.temp_image != ''">
				<img ng-src="{{data.temp_image}}" class="img-responsive img-thumbnail" style="cursor: pointer"/>
			</div>
			<br/>
			<div class="h4 margin-top-5">
				{{data.temp_header1 || ''}}
			</div>
			<br/>
			<div class="margin-top-5 text-center" ng-repeat="tempBtn in data.temp_data">
				<a class="btn-lg btn-info btn-link h4 margin-top-5" style="min-width: 200px;display: inline-block;">
					{{tempBtn.name || tempBtn.temp}}
				</a>
			</div>
		</section>
		<section ng-if="data.section_id == 2">
			<div class="text-bold h2">
				{{data.temp_header || 'Empty'}}
			</div>
			<div class="margin-top-5" ng-if="data.temp_image != ''">
				<img ng-src="{{ data.temp_image }}" class="img-responsive img-thumbnail" style="cursor: pointer"/>
			</div>
			<br/>
			<div class="h4 margin-top-5">
				{{data.temp_header1 || ''}}
			</div>
			<br/>
			<div class="margin-top-5">
				<div class="inline" ng-repeat="tempItem in data.temp_data.rateTemp">
					<i class="fa fa-3x rate-icon" ng-click="RateScore($index)" ng-class="RateIcon(tempItem)"></i>
				</div>
			</div>
			<br/>
			<div class="margin-top-5">
				<div class="pull-left">
					{{ data.temp_data.rateLabel.left || '' }}
				</div>
				<div class="pull-right">
					{{ data.temp_data.rateLabel.right || '' }}
				</div>
			</div>
		</section>
	</div>
</div>
