<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default max-width-600">
			<div class="panel-body text-center">
				<section ng-if="data.sectionId == 1">
					<div class="text-bold h2">
						{{data.TempHeader || 'Main Headline is Empty'}}
					</div>
					<div class="margin-top-5" ng-if="data.surveyImage != ''">
						<img ng-src="{{data.surveyImage}}" class="img-responsive img-thumbnail" style="cursor: pointer"/>
					</div>
					<br/>
					<div class="h4 margin-top-5">
						{{data.TempHeader1 || ''}}
					</div>
					<br/>
					<div class="margin-top-5 text-center" ng-repeat="tempBtn in data.TempButton">
						<a class="btn-lg btn-info btn-link h4 margin-top-5 link-btn">
							{{tempBtn.name || tempBtn.temp}}
						</a>
					</div>
				</section>
				<section ng-if="data.sectionId == 2">
					<br/>
					<div class="text-bold h2">
						{{data.TempHeader || 'Empty'}}
					</div>
					<div class="margin-top-5" ng-if="data.surveyImage != ''">
						<img ng-src="{{data.surveyImage}}" class="img-responsive img-thumbnail" style="cursor: pointer"/>
					</div>
					<br/>
					<div class="h4 margin-top-5">
						{{data.TempHeader1 || ''}}
					</div>
					<br/><br/>
					<div class="margin-top-5">
						<div class="inline" ng-repeat="rateTemp in data.TempRate">
							<i class="btn btn-lg fa rate-icon" ng-click="RateScore($index)" ng-class="data.rateClass(rateTemp)"></i>
						</div>
					</div>
					<br/>
					<div class="margin-top-5">
						<div class="pull-left">
							{{ data.RateLabel.left || '' }}
						</div>
						<div class="pull-right">
							{{ data.RateLabel.right || '' }}
						</div>
					</div>
				</section>
				<section ng-if="data.sectionId == 3">
					<br/>
					<div class="text-bold h2">
						{{ data.TempHeader || 'Empty Question' }}
					</div>
					<div class="margin-top-5" ng-if="data.surveyImage != ''">
						<img ng-src="{{data.surveyImage}}" class="img-responsive img-thumbnail" style="cursor: pointer"/>
					</div>
					<br/><br/><br/>
					<div class="margin-top-5">
						<div class="col-sm-6 col-xs-6">
							<a class="btn btn-lg btn-rounded btn-success pull-right">{{ data.answerButton[0].name || 'Empty Answer 1' }}</a>
						</div>
						<div class="col-sm-6 col-xs-6">
							<a class="btn btn-lg btn-rounded btn-danger pull-left">{{ data.answerButton[1].name || 'Empty Answer 2' }}</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>