<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<ul id="services" class="nav well">
			<li ng-class="{'active': navActive('computer')}" ng-click="navClick('computer')">
				<a><i class="icon icon-home"></i> My Computer</a>
			</li>
			<li ng-class="{'active': navActive('url')}" ng-click="navClick('url')">
				<a><i class="glyphicon glyphicon-download"></i> Link (URL)</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<div class="bg-light" ng-show="clickObj == 'computer'" nv-file-drop="" uploader="data.uploader"
		     filters="queueLimit, customFilter, imageFilter">
			<div class="b-a b-2x b-dashed wrapper-lg bg-white text-center container-fluid" style="width: 100%;">
				<table class="table bg-white-only b-a" ng-if="data.uploader.queue.length" style="width: 100%; height: 100%;margin-top: 20%;">
					<thead>
					<tr>
						<th class="text-center" width="40%">File Name</th>
						<th class="text-center" ng-show="data.uploader.isHTML5">Size</th>
						<th class="text-center" ng-show="data.uploader.isHTML5">Progress</th>
						<th class="text-center" width="5%">Status</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in data.uploader.queue">
						<td><strong>{{ item.file.name }}</strong></td>
						<td ng-show="data.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
						<td ng-show="data.uploader.isHTML5">
							<div class="progress progress-sm m-b-none m-t-xs">
								<div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
							</div>
						</td>
						<td class="text-center">
							<span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
							<span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
							<span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="wrapper-lg text-center v-bottom" ng-if="data.uploader.queue.length" style="margin-bottom: 9%;">
					<button type="button" class="btn btn-addon btn-success" ng-click="startUpload()"
					        ng-disabled="!data.uploader.getNotUploadedItems().length">
						<i class="fa fa-arrow-circle-o-up"></i> Upload
					</button>
					<button type="button" class="btn btn-addon btn-warning" ng-click="data.uploader.cancelAll()"
					        ng-disabled="!data.uploader.isUploading">
						<i class="fa fa-ban"></i> Cancel
					</button>
					<button type="button" class="btn btn-addon btn-danger" ng-click="data.uploader.clearQueue()"
					        ng-disabled="!data.uploader.queue.length">
						<i class="fa fa-trash-o"></i> Remove
					</button>
				</div>
				<div class="col-lg-12" ng-if="!data.uploader.queue.length" style="width: 100%; height: 100%;margin: 30% 0;">
					<span class="h2 text-bold">Drag Image File Here</span>
				</div>
			</div>
			<div class="wrapper-lg text-center v-bottom">
				<span class="h4 text-bold pull-left">OR Select one file:</span>
				<button type="button" class="btn btn-info" id="fileinput-button" ng-disabled="data.uploader.queue.length">
					<i class="glyphicon glyphicon-search"></i> Choose File
				</button>
				<input type="file" id="fileUploader" nv-file-select="" class="hide" uploader="data.uploader"/>
			</div>
		</div>
		<div class="wrapper-lg" ng-if="clickObj == 'url'">
			<div>
				<span class="h2 text-bold">Image file from the Web</span>
			</div>
			<div class="text-center">
				URL of the file
				<input type="url" class="form-control" ng-model="data.urlLink"
				       placeholder="e.g. http://example.com/someImage.jpg" pattern="https?://.+"/>
			</div>
			<div class="text-center">Grab any file off the web. Just provide the link.</div>
			<div class="text-center" ng-if="data.urlLink != ''">
				<div ng-if="imageLoading" class="h3 text-bold">Loading Preview...</div>
				<img src="img/d_loading.gif" class="img-responsive img-thumbnail" ng-if="imageLoading"/>
				<img ng-src="{{ imgUrl }}" ng-if="imgUrl != ''" style="width: 300px;" class="img-responsive img-thumbnail"/>
				<div class="h3 text-bold" ng-if="imgUrl == '' && imageLoadFailure">Error - Invalid Url</div>
			</div>
			<div class="text-center">
				<button class="btn btn-success" ng-click="applyImage()"
				        ng-disabled="imgUrl == ''">Apply</button>
			</div>
		</div>
		<div>
			<button class="btn btn-warning pull-right" ng-click="closeModal()">Close</button>
		</div>
	</div>
</div>